body {
  margin: 150px;
  padding: 150px;
  background: white;
  background-image: url(images/wavylines.gif);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: sans-serif;
  color: black;
  font-family: "calibri";
  font-size: 18px;
  padding: 100px 50px;
}

.contact-form {
  text-align: left;
}

.h1 {
  font-family: sans-serif;
}

.navigation a:link {
  color: black;
  background-color: #ceefd6;
  text-decoration: none;
  font-size: 16px;
  font-family: sans-serif;
  margin: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: transparent;
}

.Contact-Me{
  margin-top: 100px;
  color: black;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}
.Contact-Me h2{
  font-size: 32px;
  line-hight: 10px;
}
.Contact-Me h3{
  font-size: 16px;
}
form{
  margin-top: 50px;
  transition:all 4s ease-in-out;
}
.form-control{
  width: 600px;
  background: #ceefd6;
  border: none;
  outline: none;
  boder-bottom: 1px solid gray;
  color: black;
  font-size: 18px;
  margin-bottom: 16px;
}
.navigation a:auto;{
  font-size: 32px;
  font-color: #dba34e;
  font-style: oblique;
}
input{
  height: 45px;
}
form .submit{
  background: #5cbfce;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
  text-align: right;
}
form .submit:hover{
  backgroundcolour: #00AFA4;
  cursor: pointer;
}

.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.p1 {
  text-align: right;
  font-size: 10px;
}
